@import "tailwindcss";
@import "../styles/theme.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --card: #ffffff;
  --border: #e5e7eb;
  --input: #f9fafb;
  --muted: #8da1af;
  --primary: #dd9f52;
  --primary-hover: #c89040;
  --secondary: #dcc894;
  --accent: #2c586e;
  --accent-hover: #244759;
  --light: #bed0db;
  --dark: #2b576d;
  --success: #10b981;
  --error: #ef4444;
  --warning: #f59e0b;
  --info: #3b82f6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-muted: var(--muted);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);
  --color-light: var(--light);
  --color-dark: var(--dark);
  --color-success: var(--success);
  --color-error: var(--error);
  --color-warning: var(--warning);
  --color-info: var(--info);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

